:root
  --black: #000000
  --white: #FFFFFF
  --main-font: 'n27-regular-webfont', sans-serif

*,
*::after,
*::before
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-size: 1rem
  font-family: var(--main-font)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #000
  background-color: var( --bg-color )
  @apply font-sans

img.size-full
  width: 100%

.container-grid
  @apply grid grid-cols-4 md:grid-cols-8 lg:grid-cols-8 xl:grid-cols-12 gap-x-5 lg:gap-x-4 xl:gap-x-8

.container-margins
  @apply px-5 lg:px-16 xl:px-14