#product-img
    img
        @apply w-full

.tab-content
    display: none
    opacity: 0
    transition: opacity 0.3s ease-in-out
    &.active
        display: block
        opacity: 1

.tab-link
    @apply pb-2
    &.active
        border-bottom: 3px solid black

.customizable
    &__label
        @apply pt-[0.15rem] pb-[0.15rem] px-7 lg:px-4 border-2 border-black text-center text-sm md:text-base xl:text-lg font-sans font-normal tracking-wider leading-5 md:leading-6 xl:leading-7 whitespace-nowrap inline-block  text-black bg-white z-10

.grid-rows-min-content
    grid-template-rows: min-content