.left-menu-item
    @apply float-left mr-20

.right-menu-item
    @apply float-right ml-20

.mobile-menu-toggle
    display: none

.mobile-menu
    display: none
    opacity: 0
    transition: opacity 0.3s ease-in-out

.mobile-menu.active
    display: block

@media (max-width: 1200px)
    .mobile-menu-toggle
        display: block
    .main-menu-top-level
        display: none
    
    .mobile-menu
        .main-menu-responsive
            @apply flex flex-col justify-center items-center pt-10