.text-body
  @apply text-black text-lg font-sans font-normal tracking-wider mb-8
  line-height: 1.75rem !important

.section-descriptions
  @apply text-black text-base md:text-xl xl:text-[28px] font-sans

.title-big
  @apply text-black text-[32px] md:text-[51px] xl:text-[90px] font-sans uppercase
  letter-spacing: 0.094em
  line-height: normal

.title
  @apply text-black text-xl sm:text-[28px] xl:text-[40px] font-sans leading-normal uppercase

.title-subtitle
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans leading-9 uppercase tracking-[2.8px]

.text-button
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans leading-9

.text-main-menu
  @apply text-black text-xs sm:text-sm xl:text-xl font-sans font-normal mb-8
  line-height: 1.75rem !important

.text-list
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans tracking-[0.56px]

@media (max-width: 1024px)
  .text-body
    line-height: 1.75rem !important