.text-body
  @apply text-text-color text-lg font-sans font-normal tracking-wider mb-8
  line-height: 1.75rem !important

.text-bigger
  @apply text-text-color text-[40px] font-sans tracking-wide uppercase

.title-big
  @apply text-text-color text-8xl font-sans uppercase
  letter-spacing: 0.094em

.title-subtitle
  @apply text-text-color text-xl sm:text-3xl xl:text-4xl font-sans leading-normal mb-8

.text-button
  @apply text-text-color text-xl sm:text-3xl xl:text-4xl font-sans leading-9

.text-main-menu
  @apply text-text-color text-xs sm:text-sm xl:text-xl font-sans font-normal mb-8
  line-height: 1.75rem !important

@media (max-width: 1024px)
  .text-body
    line-height: 1.75rem !important