.text-body
  @apply text-black text-sm md:text-base xl:text-lg font-sans font-normal tracking-wider mb-8 leading-5 md:leading-6 xl:leading-7

.section-descriptions
  @apply text-black text-base md:text-xl xl:text-[28px] font-sans

.title-big
  @apply text-black text-[32px] md:text-[51px] xl:text-[61px] 2xl:text-[90px] font-sans uppercase
  letter-spacing: 0.094em
  line-height: normal

.title
  @apply text-black text-xl sm:text-[28px] xl:text-[40px] font-sans leading-normal uppercase

.title-subtitle
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans leading-9 uppercase tracking-[2.8px]

.text-button
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans leading-9

.text-main-menu
  @apply text-black text-xs sm:text-sm xl:text-xl font-sans font-normal mb-8
  line-height: 1.75rem !important

.text-responsive-menu
  @apply text-black text-xl md:text-[28px] font-sans font-normal mb-8 leading-7 md:leading-9
  li
    @apply mb-9 md:mb-16

.text-list
  @apply text-black text-base sm:text-2xl xl:text-[28px] font-sans tracking-[0.56px]

.hyphenate
  word-wrap: break-word
  overflow-wrap: break-word
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto

@media (max-width: 1024px)
  .text-body
    line-height: 1.75rem !important